{% extends "base.html" %}

{% block content %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success">
    {{message}}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endif %}
{% endfor %}
<div class="card p-md-5 p-3">
    <div>
        <h3>Alerts and Links
            {% if request.user.is_superuser %}
            <br class="d-md-none">
            <a href="{% url 'editschedules' %}"
                class="btn btn-outline-secondary mt-2 mt-md-0 float-md-right text-dark"><i
                    class="fa fa-pencil mr-2"></i>Links</a>
            <a href="{% url 'editalerts' %}"
                class="btn btn-outline-secondary mt-2 mt-md-0 float-md-right text-dark mr-2"><i
                    class="fa fa-pencil mr-2"></i>Alerts</a>
            {% endif %}
        </h3>
        <hr>
        {% for x in schedules %}
        <label for="link1">{{x}}</label>
        {% endfor %}
        <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2f_%23%2fl%2fmeetup-join%2f19%3abdc16a32b235480a81e8b256bc8fba95%40thread.tacv2%2f1592829932076%3fcontext%3d%7b%22Tid%22%3a%223c5f2d31-81d8-4455-a2bf-531fbc398144%22%2c%22Oid%22%3a%228a57c840-36d6-474f-a839-bc322b07843d%22%7d%26anon%3dtrue&type=meetup-join&deeplinkId=485d0f19-49b3-4217-b9d2-7040f55ad2d6&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true">https://teams.microsoft.com/dl/launcher/launcher.html?url=%2f_%23%2fl%2fmeetup-join%2f19%3abdc16a32b235480a81e8b256bc8fba95%40thread.tacv2%2f1592829932076%3fcontext%3d%7b%22Tid%22%3a%223c5f2d31-81d8-4455-a2bf-531fbc398144%22%2c%22Oid%22%3a%228a57c840-36d6-474f-a839-bc322b07843d%22%7d%26anon%3dtrue&type=meetup-join&deeplinkId=485d0f19-49b3-4217-b9d2-7040f55ad2d6&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true</a>

    </div>
</div>
<hr>
{% for alert in alerts %}
<div class="alert alert-{{alert.color}} text-center">
    <a>{{alert|safe}}</a><br>
    <span style="font-size: x-small;">{{alert.time_stamp}}</span>
</div>
{% endfor %}
{% endblock content %}