{% extends "base.html" %}

{% block content %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success">
    {{message}}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endif %}
{% endfor %}
<div class="card p-md-5 p-3">
    <div>
        <h3>Alerts and Links
            {% if request.user.is_superuser %}
            <br class="d-md-none">
            <a href="{% url 'editschedules' %}"
                class="btn btn-outline-secondary mt-2 mt-md-0 float-md-right text-dark"><i
                    class="fa fa-pencil mr-2"></i>Links</a>
            <a href="{% url 'editalerts' %}"
                class="btn btn-outline-secondary mt-2 mt-md-0 float-md-right text-dark mr-2"><i
                    class="fa fa-pencil mr-2"></i>Alerts</a>
            {% endif %}
        </h3>
        <hr>
        {% for x in schedules %}
        <label>{{x}}</label><br> {% if request.user.is_admin %} <span class="float-right"><a href="{% url 'massmail' pk=x.id %}">Mass mail</a></span>{% endif %}
        <a href="{{x.link}}">{{x.link}}</a><br><br>
        {% empty %}
        No meetings right now

        {% endfor %}

    </div>
</div>
<hr>
{% for alert in alerts %}
<div class="alert alert-{{alert.color}} text-center">
    <a>{{alert|safe}}</a><br>
    <span style="font-size: x-small;">{{alert.time_stamp}}</span>
</div>
{% endfor %}
{% endblock content %}