{% extends "base.html" %}

{% block content %}


<div class="mx-md-5 px-md-5">
    <div class="card mx-md-5 p-3 p-md-5">
        <h3>Contact</h3>
        <hr>
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <label for="email">You email</label>
            <input type="email" name="email" class="form-control mb-2" id="email">
            <label for="quiry">You query</label>
            <textarea name="quiry" id="quiry" class="form-control mb-2"></textarea>
            <span style="font-size: small;">Please explain your query in breif. We will contact you through your mail.</span>
            <br>
            <button class="btn btn-primary float-right">Submit</button>
            <span>Also, You can follow our telegram support page for instant updates <a href="https://t.me/gcebodicsewebinar">here</a>.</span>

        </form>
    </div>
</div>


{% endblock content %}