{% extends "base.html" %}

{% block content %}

<style>
    .hide-scrollbar {
        overflow: -moz-hidden-unscrollable;
        overflow: hidden;
    }
</style>
<div class="row m-0 text-center">
    <div class="col card m-1 p-4">
        <span style="color: blue;">Total Student Enrollment</span>
        <h1>{{students.count}}</h1>
    </div>
    <div class="col card m-1 p-4">
        <span style="color: orangered;">Total Faculty Enrollment</span>
        <h1>{{faculty.count}}</h1>

    </div>
    <div class="col card m-1 p-4">
        <span style="color: green;">Total Enrollment</span>
        <h1>{{objects.count}}</h1>
    </div>
</div>
</div>
<hr>
<div class="text-center">
    <a onclick="overall()" id="overall" class="btn btn-primary text-white">Get Overall Report</a>
    <a href="{% url 'report' %}" id="overall" class="btn btn-primary text-white">Get Individual Report</a>
</div>
<hr>
<div id="area">
    <div id="container" class="container bg-light text-center pt-5">
        <div class="table-responsive">
            <div>
                <h1>Government College of Engineering, Bodinayakkanur</h1>
                <span>Department of Computer Science and Engineering</span>
                <h4 class="mt-2">Webinar Participants</h4>
            </div>
            <span class="float-right m-3"><b>Total count: </b>{{objects.count}}</span>
            <table id="table" class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unique code</th>
                        <th scope="col">Email</th>
                        <th scope="col">Webinar</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Student/Faculty</th>
                        <th scope="col">College</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objects %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{obj.name}}</td>
                        <td><a href="">{{obj.uqno}}</a></td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.webinar}}</td>
                        <td>{{obj.mobile}}</td>
                        <td>{{obj.stufac}}</td>
                        <td>{{obj.college}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br>
        <br><br>
    </div>
</div>
<script>
    function overall() {
        html2canvas(document.querySelector("#container"), {
            logging: true,
            allowTaint: false,
            backgroundColor: "#ffffff",
            scale: 5,
            scrollX: -window.scrollX,
            scrollY: -window.scrollY
        }).then(canvas => {
            $("#container").addClass("d-none")
            document.getElementById("area").append(canvas);
        });
    }
</script>
{% endblock content %}