<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
    <div style="display: none;">
        {% for obj in objs %}
        <div style="padding: 20px">
            <h3>{{obj.email}}</h3>
            <br>
            <p>{{obj.quiry}}</p>
            <br>
            <a href="{% url 'delete' pk=obj.id %}">Delete</a>
        </div>
        {% endfor %}
    </div>



    {% for x in number %}
    {{x}},
    {% endfor %}

    </body>


</html>