{% extends "base.html" %}

{% block content %}

<style>
    td,
    th {
        text-align: center;
        font-weight: 400;
    }
</style>

<div class="mx-md-5 px-md-5">
    <div class="card mx-md-5 p-3 p-md-5">
        <h2>Feedbacks</h2>
        <hr class="m-1 mb-2">
        <label for="table-2">5G Technology Uses and UE Hazards</label>
        <div class="table-responsive-md">
            <table class="table table-striped table-bordered" style="font-size: x-small;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Not satisfied</th>
                        <th scope="col">Somewhat satisfied</th>
                        <th scope="col">Satisfied</th>
                        <th scope="col">Very much satisfied</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Content quality</th>
                        <td id="2-1">0</td>
                        <td id="2-2">0</td>
                        <td id="2-3">0</td>
                        <td id="2-4">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Platform (here Cisco Webex)</th>
                        <td id="3-1">0</td>
                        <td id="3-2">0</td>
                        <td id="3-3">0</td>
                        <td id="3-4">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Audio quality</th>
                        <td id="4-1">0</td>
                        <td id="4-2">0</td>
                        <td id="4-3">0</td>
                        <td id="4-4">0</td>
                    <tr>
                        <th scope="row">Video quality</th>
                        <td id="5-1">0</td>
                        <td id="5-2">0</td>
                        <td id="5-3">0</td>
                        <td id="5-4">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Duration of the session</th>
                        <td id="6-1">0</td>
                        <td id="6-2">0</td>
                        <td id="6-3">0</td>
                        <td id="6-4">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <label for="">About the Session - 5G Technology Uses and UE Hazards</label>
            <table class="table table-striped table-bordered" style="font-size: x-small;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Very much satisfied</th>
                        <th scope="col">Satisfied</th>
                        <th scope="col">Somewhat satisfied</th>
                        <th scope="col">Not satisfied</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Answers</th>
                        <td id="1-1">0</td>
                        <td id="1-2">0</td>
                        <td id="1-3">0</td>
                        <td id="1-4">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <h5 for="feedback-1">5G Technology Uses and UE Hazards</h5>
            <hr>
            {% for x in feedback %}
            <span><b>{{x|safe}}</b> says,</span><br>
            <p>{{x.feedback|safe}}</p>
            {% endfor %}
        </div>
    </div>
    <div>
        {% for x in qs1 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("1-1").innerHTML)
            document.getElementById("1-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("1-2").innerHTML)
            document.getElementById("1-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("1-3").innerHTML)
            document.getElementById("1-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("1-4").innerHTML)
            document.getElementById("1-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
        {% for x in qs2 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("2-1").innerHTML)
            document.getElementById("2-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("2-2").innerHTML)
            document.getElementById("2-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("2-3").innerHTML)
            document.getElementById("2-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("2-4").innerHTML)
            document.getElementById("2-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
        {% for x in qs3 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("3-1").innerHTML)
            document.getElementById("3-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("3-2").innerHTML)
            document.getElementById("3-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("3-3").innerHTML)
            document.getElementById("3-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("3-4").innerHTML)
            document.getElementById("3-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
        {% for x in qs4 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("4-1").innerHTML)
            document.getElementById("4-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("4-2").innerHTML)
            document.getElementById("4-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("4-3").innerHTML)
            document.getElementById("4-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("4-4").innerHTML)
            document.getElementById("4-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
        {% for x in qs5 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("5-1").innerHTML)
            document.getElementById("5-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("5-2").innerHTML)
            document.getElementById("5-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("5-3").innerHTML)
            document.getElementById("5-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("5-4").innerHTML)
            document.getElementById("5-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
        {% for x in qs6 %}
        {% if x == '1' %}
        <script>
            var x = parseInt(document.getElementById("6-1").innerHTML)
            document.getElementById("6-1").innerHTML = x + 1
        </script>
        {% elif x == '2' %}
        <script>
            var x = parseInt(document.getElementById("6-2").innerHTML)
            document.getElementById("6-2").innerHTML = x + 1
        </script>
        {% elif x == '3' %}
        <script>
            var x = parseInt(document.getElementById("6-3").innerHTML)
            document.getElementById("6-3").innerHTML = x + 1
        </script>
        {% elif x == '4' %}
        <script>
            var x = parseInt(document.getElementById("6-4").innerHTML)
            document.getElementById("6-4").innerHTML = x + 1
        </script>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}