{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="card p-4 p-md-5 col-md-5 m-md-3 text-center">
        <h2>5G Technology Uses and UE Hazards</h2>
        <hr><br>
        <img width="100px" class="mb-2 mx-auto" style="border-radius: 50%;"
            src="{{rps.avatar}}">
        <hr>
        <span style="font-size: smaller;">Date - {{rps.date}}</span>
        <span style="font-size: smaller;">Time - {{rps.time}}</span>
        <h5><b>{{rps.name}}</b></h5>
        <p>{{rps.details|safe}}</p>
        <a href="{% url 'register' %}" class="btn btn-primary">Register Now!</a>
    </div>
    <br>
</div>

{% endblock content %}