{% extends "base.html" %}

{% block content %}

<div class="card p-4 p-md-5 mx-md-5 text-center ">
    <h2>Register</h2>
    <span style="font-size: small;"><em>Kindly make your the details entered is correct. The details you provide here will be taken for issuing certificate.</em></span>
    <hr>
    <form action="{% url 'register' %}" class="text-left px-md-5" method="post">
        <div class="text-center">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{message|safe}}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success">
                {{message|safe}}
            </div>
            {% endif %}

            {% endfor %}
        </div>
        {% csrf_token %}
        <label for="name">Name of the enroller:</label>
        <input type="text" class="form-control mb-3" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="text" class="form-control mb-3" id="email" name="email" required>
        <label for="mobile">Mobile:</label>
        <input type="number" class="form-control mb-3" id="mobile" name="mobile" required>
        <label for="designation">Student/Faculty:</label>
        <select type="text" class="form-control mb-3" id="designation" name="designation" required>
            <option value="Student">Student</option>
            <option value="Faculty">Faculty</option>
        </select>
        <label for="webinar">Webinar:</label>
        <select type="text" class="form-control mb-3" id="webinar" name="webinar" required>
            <option value="AI - Prediction Machines">AI - Prediction Machines</option>
            <option value="A complete vision to IEEE organisational structure and its benifits">A complete vision to IEEE organisational structure and its benifits</option>
            <option value="Both">Both</option>
        </select>
        <label for="dept">Department:</label>
        <input type="text" class="form-control mb-3" id="dept" name="dept">
        <label for="year">Year:</label>
        <select type="text" class="form-control mb-3" id="year" name="year">
            <option value="I Year">I Year</option>
            <option value="II Year">II Year</option>
            <option value="III Year">III Year</option>
            <option value="IV Year">IV Year</option>
        </select>
        <label for="college">College:</label>
        <input type="text" class="form-control mb-3" id="college" name="college" required>
        <button type="submit" class="btn btn-primary mr-0 ml-auto d-block">Register</button>
    </form>
</div>

{% endblock content %}