{% extends "base.html" %}

{% block content %}

<div class="card p-4 p-md-5 mx-md-5 text-center ">
    <h2>Register</h2>
    <span style="font-size: small; font-weight: bold;">Kindly make sure your the details entered is correct. The details
        you provide here
        will be taken for issuing certificate.</span>
    <hr>
    <form action="{% url 'register' %}" class="text-left px-md-5" method="post">
        <div class="text-center">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{message|safe}}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success">
                {{message|safe}}
            </div>
            {% endif %}

            {% endfor %}
        </div>
        {% csrf_token %}
        <label for="name">Name of the enroller:</label>
        <input type="text" class="form-control mb-3" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="text" class="form-control mb-3" id="email" name="email" required>
        <label for="mobile">Mobile:</label>
        <input type="number" class="form-control mb-3" id="mobile" name="mobile" maxlength="10" required>
        <label for="gender">Gender:</label>
        <select type="text" class="form-control mb-3" id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Prefer not say">Prefer not say</option>
        </select>
        <label for="stufac">Student/Faculty/Industry Expert:</label>
        <select type="text" class="form-control mb-3" id="stufac" name="stufac" required>
            <option value="Student" selected>Student</option>
            <option value="Faculty">Faculty</option>
            <option value="Industry Expert">Industry Expert</option>
        </select>
        <label for="desg" id="l-desg">Designation</label>
        <input type="text" name="desg" id="desg" class="form-control mb-2">
        <label for="webinar">Webinar:</label>
        <select type="text" class="form-control mb-3" id="webinar" name="webinar" required>
            <option value="Modern Application Development in AWS">Modern Application Development in AWS</option>
        </select>
        <label for="dept" id="l-dept">Department:</label>
        <input type="text" class="form-control mb-3" id="dept" name="dept">
        <label for="year" id="l-year">Year:</label>
        <select type="text" class="form-control mb-3" id="year" name="year">
            <option value="I Year">I Year</option>
            <option value="II Year">II Year</option>
            <option value="III Year">III Year</option>
            <option value="IV Year">IV Year</option>
        </select>
        <label for="college" id="l-college">College:</label>
        <label for="college" id="l-org">Organization:</label>
        <input type="text" class="form-control mb-3" id="college" name="college" required>
        <!--<div class="text-right">
            <a onclick="submit()" href="#" id="review" class="btn btn-primary text-white">Review Registration</a>
        </div>-->
        <button class="btn btn-primary float-right" id="submit">Submit</button>
    </form>
</div>

<script>
    $("#desg").hide();
    $("#l-desg").hide();
    $("#l-org").hide();
    //$("#submit").hide();
    $("#stufac").on("change", function () {
        if ($(this).val() == "Student") {
            $("#desg").hide();
            $("#l-desg").hide();
            $("#l-dept").show();
            $("#dept").show();
            $("#l-year").show();            
            $("#year").show();
            $("#l-college").show();
            $("#college").show();
        }
        if ($(this).val() == "Faculty") {
            $("#desg").show()
            $("#l-desg").show()
            $("#l-org").hide();
            $("#l-dept").show();
            $("#dept").show();
            $("#l-year").show();            
            $("#year").show();
            $("#l-college").show();
            $("#college").show();
        }
        if ($(this).val() == "Industry Expert") {
            $("#desg").show()
            $("#l-org").show()
            $("#l-desg").show();
            $("#l-dept").hide();
            $("#dept").hide();
            $("#l-year").hide();            
            $("#year").hide();
            $("#l-college").hide();

        }
    })
</script>

{% endblock content %}