{% extends "base.html" %}

{% block content %}

<div class="row m-0 text-center">
    <div class="col card m-1 p-4">
        <span style="color: blue;">AI Enrollment</span>
        <h1>{% for x in aiobj %}
            {% if forloop.last %}
            {{forloop.counter}}
            {% endif %}
            {% endfor %}</h1>
    </div>
    <div class="col card m-1 p-4">
        <span style="color: orangered;">IEEE Enrollment</span>
        <h1>{% for x in ieeeobj %}
            {% if forloop.last %}
            {{forloop.counter}}
            {% endif %}
            {% endfor %}</h1>

    </div>
    <div class="col card m-1 p-4">
        <span style="color: green;">Total Enrollment</span>
        <h1>{{objects.count}}</h1>
    </div>
</div>
<hr>
<div class="p-3 text-center">
    <button onclick="func1()" class="btn btn-primary">AI Report</button>
    <button onclick="gen(x)" class="btn btn-primary">Generate Image</button>
    <button onclick="func2()" class="btn btn-primary">IEEE Report</button>
</div>
<hr>
<div id="container">
    <div id="container-1" class="container bg-light text-center">
        <div class="pt-5">
            <h1>Government College of Engineering, Bodinayakkanur</h1>
            <span>Department of Computer Science and Engineering</span>
            <h4 class="mt-2">AI in Human Health - Webinar Participants</h4>
        </div>
        <span class="float-right m-3"><b>Total count: </b>{% for x in aiobj %}
            {% if forloop.last %}
            {{forloop.counter}}
            {% endif %}
            {% endfor %}</span>
        <div id="area" class="table-responsive">
            <table id="table" class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unique code</th>
                        <th scope="col">Email</th>
                        <th scope="col">College</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in aiobj %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{obj.name}}</td>
                        <td><a href="">{{obj.uqno}}</a></td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.college}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br>
    </div>
    <div id="container-2" class="container bg-light text-center">
        <div class="pt-5">
            <h1>Government College of Engineering, Bodinayakkanur</h1>
            <span>Department of Computer Science and Engineering</span>
            <h4 class="mt-2">Importance of IEEE - Webinar Participants</h4>
        </div>
        <span class="float-right m-3"><b>Total count: </b>{% for x in ieeeobj %}
            {% if forloop.last %}
            {{forloop.counter}}
            {% endif %}
            {% endfor %}</span>
        <div id="area" class="table-responsive">
            <table id="table" class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unique code</th>
                        <th scope="col">Email</th>
                        <th scope="col">College</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in ieeeobj %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{obj.name}}</td>
                        <td><a href="">{{obj.uqno}}</a></td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.college}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br>
    </div>
</div>
<div id="image"></div>
<div id="arg" class="p-3 text-center">
    Please select a filter! <br>
    Then press 'Generate Image' to render the report!
</div>
<script>
    var x = 0;
    document.getElementById("container-1").classList.add('d-none')
    document.getElementById("container-2").classList.add('d-none')

    function func1() {
        document.getElementById("arg").classList.add("d-none")
        document.getElementById("container-1").classList.remove('d-none')
        document.getElementById("container-2").classList.add('d-none')
        x = 1;
    }

    function func2() {
        document.getElementById("arg").classList.add("d-none")
        document.getElementById("container-1").classList.add('d-none')
        document.getElementById("container-2").classList.remove('d-none')
        x = 2;
    }

    function gen(val) {
        html2canvas(document.querySelector("#container-"+val), {
            scale: 5
        }).then(canvas => {
            document.getElementById("container").innerHTML = ""
            document.getElementById("image").appendChild(canvas);
        });
    }
</script>
{% endblock content %}